{{!-- Login Form --}}
<div class="messageContainer"></div>

<form action="/login" method="POST">
    <div class="row">
        <div class="twelve columns">
            <input type="email" name="username" placeholder="Email" id="emailInput">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="twelve columns">
            <input type="password" name="password" placeholder="Password" id="passwordInput">
        </div>
    </div>
    <br>
    <input class="button" type="submit" value="Submit" id="loginButton">
</form>