
{{!-- <body class="bodyNav bodyCalender" > --}}
    <main>
        <aside>
          <ul class="asideList">
            <li><a href="/newtask" class="asideAnchor">New Task</a></li>
            <li><a href="/index" class="asideAnchor">Overview</a></li>
            <li><a href="/taskhistory" class="asideAnchor">Task History</a></li>
            <li><a href="/" class="asideAnchor">Logout</a></li>
          </ul>
        </aside>
        <section>
          <input type="checkbox" id="myInput">
          <label  id="menuLabels" for="myInput">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </label>
          
      
            <div class="content">
                <h3 class="pageTitle">Overview</h3>
                <div class="row">
                    <div class="five columns">
                        <div class="card" id="toDoCard">
                            <div class="container">
                                <p class="toDoTitle">ToDo List<p>
                                {{#if taskExist}}
                                {{#each tasks}}
                                <p id="demo"> {{ taskName}} </p>
                                {{/each}}
                                {{else}}
                                <p>Woohoo! You have no Task or events!!!</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="seven columns">
                        <div class="card" id="monthCard">
                            <div id="calendar"></div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>
{{!-- </body> --}}