{{!-- SignUp page --}}

<h3 class="loginSignupPage">Sign Up</h3>
<div class="container" id="formContainer">

    {{> signUpForm}}
    
    <a href="/"><p class="loginLink">Have an account? Log In here.</p></a>
</div>