<main>
        <aside>
          <ul class="asideList">
            <li><a href="/newtask" class="asideAnchor">New Task</a></li>
            <li><a href="/index" class="asideAnchor">Overview</a></li>
            <li><a href="/taskhistory" class="asideAnchor">Task History</a></li>
            <li><a href="/logout" class="asideAnchor">Logout</a></li>
          </ul>
        </aside>
        <section>
          <input type="checkbox" id="myInput">
          <label  id="menuLabels" for="myInput">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </label>
          
      
            <div class="content">
              <div class="row">
                <p class="userEmail">hello {{username}}</p> 
              </div>
              <h3 class="pageTitle">Task History</h3>
              <br>
                <!-- container for the new task form -->
              <div class="container" id="taskContainer">
                    <!-- new task form is displayed on a card -->
                    <div class="card" id="historyCard">
                        <table class="u-full-width">
                            <thead>
                              <tr>
                                <th>Task name</th>
                                <th>Status</th>
                                <th>Date edited</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Call jenny</td>
                                <td>Complete</td>
                                <td>05.05.20</td>
                              </tr>
                              <tr>
                                <td>Send report</td>
                                <td>Complete</td>
                                <td>05.07.20</td>
                              </tr>
                              <tr>
                                <td>Check emails</td>
                                <td>Complete</td>
                                <td>05.10.20</td>
                              </tr>
                              <tr>
                                <td>Call jenny</td>
                                <td>To do</td>
                                <td>05.05.20</td>
                              </tr>
                              <tr>
                                <td>Send report</td>
                                <td>To do</td>
                                <td>05.07.20</td>
                              </tr>
                              <tr>
                                <td>Marketing Meeting</td>
                                <td>Complete</td>
                                <td>05.30.20</td>
                              </tr>
                              <tr>
                                <td>Check emails</td>
                                <td>To do</td>
                                <td>05.10.20</td>
                              </tr>
                              <tr>
                                <td>Marketing Meeting</td>
                                <td>To do</td>
                                <td>05.30.20</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>

            </div>
        </section>
    </main>